div{
    font-family: Helvetica;
    background-color: rgb(53, 45, 45);
    color: white;
    font-size: 32px;
    padding: 5px;
}

nav{
    background-color: rgb(53, 45, 45);
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

img{
    width: 60px;
}

.items:hover{
    opacity: 0.5;
}

a{
    text-decoration: none;
}